@charset "UFT-8";

body, html {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
}

section {
    background-color: white;
    color: black;
    width: 500px;
    margin: auto;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
}

#imgdiv {
    display: flex;
    justify-content: center;
}

img {
    display: none;
}

.margin_div {
    margin: 10px;
}

h1, footer {
    text-align: center;
    margin-top: 40px;
}

footer p {
    font-style: italic;
}

